{% render 'partials/head.liquid', title: 'Squad page' %}

<section>
<h2>BLEHBLEHBLEH</h2>
</section>
<header>
<section>
  <fieldset>
  <legend>Choose your'e filter:</legend>

  <div>
    <input type="checkbox" id="optie-1"/>
    <label for="optie-1">a-z</label>
  </div>

  <div>
    <input type="checkbox" id="optie-2"/>
    <label for="optie-2">z-a</label>
  </div>

  <div>
    <input type="checkbox" id="optie-3"/>
    <label for="optie-3">team</label>
  </div>

  <div>
    <input type="checkbox" id="optie-4"/>
    <label for="optie-4">squad</label>
  </div>
</fieldset>
</header>
</section>
<ul>
  
  <section class="grid-profile-section">
  {% for person in persons %}
    <section class="profile-section">

<article class="profile img">
    <li class="center">
      <figure>
        <img class="img" src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=" alt="Profile picture">
      </figure>
    </li>
</article>
    
<article class="profile info">
  <ul>
  <li class="center">
    <a href="/student/{{ person.id }}">{{ person.name }}</a>
  </li>
    <li class="center">
    <a href="/student/{{ person.id }}">{{ person.team }}</a>
  </li>
    <li class="center">
    <a href="/student/{{ person.id }}">{{ person.team }}</a>
  </li>
</ul>
</article>

</section>
  {% endfor %}
</section>
</ul>


</body>

<script src="/index.js"></script>
{% render 'partials/foot.liquid', squads: squads %}