{% render 'partials/head.liquid', title: 'Squad page' %}

<h2>BLEHBLEHBLEH</h2>
</section>

<header>
<section>
<button class="navKnop">
<a href="/az">a-z</a>
</button>
</section>
</header>

<ul>
  <section class="grid-profile-section">
  {% for person in persons %}
    <section class="profile-section">

<article class="profile img">
    <li class="center">
        {% if person.mugshot %}
        <img class="img" src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=" alt="Profile picture">
        {% else %}
          <img class="img" src="default_mugshot.png">
       {% endif %}
    </li>
</article>
    
<article class="profile info">
  <ul>
  <li class="center">
    <a href="/student/{{ person.id }}">{{ person.name }}</a>
  </li>
    <li class="center">
    <a href="/student/{{ person.id }}">{{ person.team }}</a>
  </li>
    <li class="center">
    <a href="/student/{{ person.id }}">{{ person.vibe_emoji }}</a>
  </li>
      <li class="center">
    <a href="/student/{{ person.id }}">@{{ person.github_handle }}</a>
  </li>
  <li class="center">
    <a href="/student/{{ person.id }}">{{ person.id }}</a>
  </li>
</ul>
</article>
</section>
  {% endfor %}
</section>
</ul>


</body>

<script src="/index.js"></script>
{% render 'partials/foot.liquid', squads: squads %}